
      <div id="asharemainview">
        <div id="asharemainview-sidebar">
            <ul>
                <li><a  class="@SubjectAndHotMenuCss"    @onclick="OnClickSubjectAndHot">热点题材分析</a></li>
                <li><a  class="@IncrementMenuCss"  @onclick="OnClickIncrement" >增量数控采集</a></li>
                <li><a  class="@HistoryMenuCss"    @onclick="OnClickHistory">历史数据采集</a></li>
            </ul>
        </div>
        <div id="asharemainview-content">
        <div id="asharemainview-content-history" class="@HistoryContentCss" >
            <HistoryDataView></HistoryDataView>
        </div>
        <div id="asharemainview-content-history-increment" class="@IncrementContentCss" >
            <IncrementDataView></IncrementDataView>
        </div>
         <div id="asharemainview-content-subjectandhot" class="@SubjectAndHotContentCss" >
          <SubjectAndHotView></SubjectAndHotView>
        </div>
        </div>
    </div>