    <div id="historydata">
        <div id="historydata-header">
            <table >
                <tbody>
                    <tr>
                        <td >沪深股市基本数据采集</td>
                        <td > <button @onclick="ClearMessage" class="btn-blue">清空日志</button></td>
                    </tr>
                    <tr>
                        <td  colspan=2> @ViewModel.IndustryProgress</td>
                    </tr>
                     <tr>
                        <td  colspan=2> @ViewModel.HolderProgress</td>
                    </tr>
                     <tr>
                        <td  colspan=2> @ViewModel.AnalyseBellwetherFromTHSLightspotProgress</td>
                    </tr>
                      <tr>
                        <td  colspan=2> @ViewModel.AnalyseBellwetherFromTHSIndustryCompareProgress</td>
                    </tr>
                      <tr>
                        <td  colspan=2> @ViewModel.PerformanceForecastProgress</td>
                    </tr>
                    <tr>
                        <td  colspan=2>@ViewModel.DailyTradeDataProgress</td>
                    </tr>
                     <tr>
                        <td  colspan=2>@ViewModel.StockDailyIndicatorProgress</td>
                    </tr>
                    <tr>
                        <td  colspan=2>@ViewModel.SyncTurnoverProgress</td>
                    </tr>
                     <tr>
                        <td  colspan=2>@ViewModel.DataCleaningProgress</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="historydata-log">
            <textarea value="@ViewModel.Message"  readonly>
            </textarea>
        </div>
        <div>
            <div>
                <button @onclick="CollectTC"  disabled="@ViewModel.IsCollectTradingCalendar" class="btn-blue">采集交易日历</button>
                <button @onclick="CollectDTDAndDI"   disabled="@ViewModel.IsCollectDTDAndDI"  class="btn-blue">采集日线数据和每日指标</button>
                <button @onclick="CollectStockInfo"   disabled="@ViewModel.IsCollectStockInfo"  class="btn-blue">采集所有股票信息</button>

            </div>
        </div>
        <div>
            <div>
             <button @onclick="RestoreCollectIndustry" disabled="@ViewModel.IsRestoreIndustry" class="btn-green">采集行业分类(继续)</button>
             <button @onclick="CollectIndustry" disabled="@ViewModel.IsCollectIndustry" class="btn-green">采集行业分类</button>

             <button @onclick="CollectHolder" disabled="@ViewModel.IsCollectHolder" class="btn-green">采集股东信息</button>

             <button @onclick="CollectPerformanceForecast" disabled="@ViewModel.IsCollectPerformanceForecast" class="btn-green">采集盈利预测</button>

             <button @onclick="AnalyseBellwether" disabled="@ViewModel.IsAnalyseBellwether" class="btn-green">分析提取龙头股</button>

            </div>
        </div>
        <div>
            <button @onclick="CalculateAllAdjustFactor" disabled="@ViewModel.IsCalculateAllAdjustFactor" class="btn-orange">计算复权因子</button>
            <button @onclick="DataCleaning" disabled="@ViewModel.IsDataCleaning" class="btn-orange">数据清洗</button>
            <button @onclick="RestoreDTD" disabled="@ViewModel.IsRestoreDailyStockTradeData" class="btn-orange">采集日线数据(继续)</button>
            <button @onclick="CollectDTD" disabled="@ViewModel.IsCollectDailyStockTradeData" class="btn-orange">采集日线数据</button>

        </div>
        <div>
           <button @onclick="SyncTurnover"  disabled="@ViewModel.IsSyncTurnover" class="btn-purple">同步换手率数据</button>
           <button @onclick="RestoreDI"  disabled="@ViewModel.IsRestoreStockDailyIndicator" class="btn-purple">采集每日指标(继续)</button>
           <button @onclick="CollectDI"  disabled="@ViewModel.IsCollectStockDailyIndicator" class="btn-purple">采集每日指标</button>

        </div>
    </div>

