
  <div id="subjectandhot">
        <div id="subjectandhot-header">
            <table>
                <tbody>
                    <tr>
                        <td>沪深股市热点题材分析</td>
                        <td> <button  @onclick="ClearMessage" class="btn-blue">清空日志</button></td>
                    </tr>
                    <tr>
                        <td colspan=2>@ViewModel.CollectTHSIndexMemberProgress</td>
                    </tr>
                    <tr>
                        <td colspan=2>@ViewModel.CollectTHSIndexDailyTradeDataProgress</td>
                    </tr>
                     <tr>
                        <td colspan=2></td>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div id="subjectandhot-log">
            <textarea value="@ViewModel.Message" readonly>
            </textarea>
        </div>
        <div>
            <div>
                <button  @onclick="CollectFutureEventsOfSubject"  disabled="@ViewModel.IsCollectFutureEventsOfSubject" class="btn-blue">采集题材前瞻日历</button>

                 <button  @onclick="CollectTHSIndexDailyTradeDataFromTushare" class="btn-blue" disabled="@ViewModel.IsCollectTHSIndexDailyTradeData" >采集同花顺指数日线历史数据</button>

                 <button  @onclick="CollectTHSIndexMemberFromTHS" class="btn-blue" disabled="@ViewModel.IsCollectTHSIndexMember" >采集同花顺指数成分股(THS)</button>

                 <button  @onclick="CollectTHSIndexMemberFromTushare" class="btn-blue" disabled="@ViewModel.IsCollectTHSIndexMember" >采集同花顺指数成分股(Tushare)</button>

                <button  @onclick="CollectTHSIndexFromTushare" class="btn-blue" disabled="@ViewModel.IsCollectTHSIndex" >采集同花顺指数</button>
            </div>
        </div>
        <div>
            <div>
                <button   class="btn-green">开启所有数据采集任务</button>
            </div>
        </div>

    </div>

